# Игнорируем системные файлы / папки:
.DS_Store
Thumbs.db

# Игнорируем окружение Python:
venv/
env/
__pycache__/
*.pyc

# Игнорируем личные настройки IDE / редактора:
.idea/
.vscode/

# Игнорируем локальные логи и кеши:
logs/
*.log
.cache/
local_cache/

# Игнорируем файлы окружения (с приватными данными):
.env

# Игнорируем файлы сборки Docker (по желанию):
*.pid
*.tar
